.container {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}

.container .leftside,
.container .rightside {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ccc;
}

.container .rightside {
  border-right: 1px solid #ccc;
}

.container::-webkit-scrollbar {
  display: none;
}

.header,
.cols .col {
  display: inline-flex;
}

.cols {
  display: flex;
  flex-direction: column;
}

/* .header .header_day {
  border-top: 1px solid #ccc;
  background-color: #f7f7f7;
} */

.template_col {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .header .header_day:last-child,
.cols .cols_day:last-child {
  border-right: 1px solid #ccc;
} */

.header .header_day span,
.header .header_day p {
  margin: 0;
}
